.logo_mide{

  @media screen and (max-width: 800px){
    display: flex;
    justify-content: end;
    width: 60%;
  }

  & img{
    margin: 0 auto;
    width: 50%;

    @media screen and (max-width: 800px){
      margin: unset;
      width: 60%;
    }
  }
}