.redes_sociales {
    margin: 2rem 0;
    .row {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0 20px;
        @media screen and (min-width: 801px) {
            width: 65%;
        }
        li {
            transition: transform .2s ease-in-out;
            @media screen and (min-width: 801px) {
                width: 60px;
            }
            img {
                filter: drop-shadow(0 0 8px rgba(0, 0, 0, .4));
            }
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}